{% extends 'layout.html.twig' %}

{% set active = 'connexon' %}

{% block page_title %}
    Page de connexion
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h3 class="text-center">
                Connexion
            </h3>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey | trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for message in app.flashes('notice') %}
                {{ message }}
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form, {attr:{novalidate: 'novalidate' }}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


