<!--colright-->
<div class="col-md-4 col-sm-12">
    <div class="mb-5">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h3 class="text-center">Votre actu <strong>{{ app.user.prenom | capitalize }}</strong></h3>

            <div class="text-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <h4>Admin</h4>
                {% elseif is_granted('ROLE_AUTEUR') %}
                    <h4>Auteur</h4>
                {% else %}
                    <h4>Membre</h4>
                {% endif %}
            </div>

            <ul class="list-group">
                {% if article is defined
                    and article
                    and (article.isAuteur(app.user) and is_granted('ROLE_AUTEUR'))
                %}
                    <li class="list-group-item text-center">
                        <a href="{{ path('article.update', {
                            'id': article.id
                        }) }}" class="list-group-item">Editer cet article</a>
                    </li>

                {% endif %}
                {% if is_granted('ROLE_AUTEUR') %}
                    <li class="list-group-item text-center">
                        <a href="{{ path('article.list') }}" class="list-group-item">Mes articles</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_AUTEUR') %}
                    <li class="list-group-item text-center">
                        <a href="{{ path('article.new') }}" class="list-group-item">Rédiger un article</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                DERNI&Egrave;RE PUBLICATIONS
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for article in articles %}
                <li>
                    <a href="{{ path('article.index', {
                        categorie: article.categorie.slug,
                        slug: article.slug,
                        id: article.id
                    }) }}">
                        <img alt="{{ article.titre | title }}"
                             src="{{ asset('images/product/'~article.featuredImage) }}">
                    </a>
                    <h3><a href="{{ path('article.index', {
                            categorie: article.categorie.slug,
                            slug: article.slug,
                            id: article.id
                        }) }}">{{ article.titre | title }}</a></h3>
                    <div class="meta-post">
                        <a href="#">
                            {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
                        </a>
                        <em></em>
                        <span>
                                {{ article.dateCreation | date('d/m/Y') }}
                            </span>
                    </div>
                </li>
                {%  endfor %}
            </ul>

        </div>
    </div>

    <!-- subcribe box-->
    <div class="subcribe-box">
        <h3>NEWSLETTER</h3>
        <p>Inscrivez-vous pour recevoir nos dernières publications.</p>
        <input type="text" placeholder="Votre Email..." />
        <button class="my-btn">Je m'inscris</button>
    </div>
    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				SUIVEZ-NOUS
			</span>
        </div>
        <ul class="list-social-icon">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- special post-->
    {% if specials is not empty %}
    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				En Avant
			</span>
        </div>
        <div class="list-special">
            {%  for article in specials  %}
                <article class="news-two-large">
                    <a href="{{ path('article.index', {
                        categorie: article.categorie.slug,
                        slug: article.slug,
                        id: article.id
                    }) }}">
                        <img alt="{{ article.titre }}" src="{{ asset('images/product/'~article.featuredImage) }}">
                    </a>
                    <h3><a href="{{ path('article.index', {
                            categorie: article.categorie.slug,
                            slug: article.slug,
                            id: article.id
                        }) }}">{{ article.titre }}</a></h3>
                    <div class="meta-post">
                        <a href="#">
                            {{ article.membre.prenom ~ ' ' ~ article.membre.nom}}
                        </a>
                        <em></em>
                        <span>
						{{ article.dateCreation | date('d/m/Y') }}
					</span>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
