<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="spotlight-item-thumb">
        <div class="spotlight-item-thumb-img">
            <a href="{{ path('article.index', {
                'categorie': article.categorie.slug,
                'slug': article.slug,
                'id': article.id
            }) }}">
                <img alt="{{ article.titre }}"
                     src="{{ asset('images/product/'~article.featuredimage) }}"/>
            </a>
            <a href="{{ path('categorie.index', { 'slug' : article.categorie.slug }) }}" class="cate-tag">{{ article.categorie.nom }}</a>
        </div>
        <h3><a href="{{ path('article.index', {
                'categorie': article.categorie.slug,
                'slug': article.slug,
                'id': article.id
            }) }}">{{ article.titre }}</a></h3>
        <div class="meta-post">
            <a href="#">
                {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
            </a>
            <em></em>
            <span>
                {{ article.dateCreation | date('d/m/Y') }}
            </span>
        </div>
    </div>
</div>